<% if notice != nil%>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p id="notice"><span class="glyphicon glyphicon-ok"></span>  <%= notice %></p>
  </div>
<% end %>