<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Chat rooms</h1>
    <br />
    <p class="lead"><%= link_to 'Create new chat room', new_room_path, class: 'btn btn-primary' %></p>
    <hr />
    <ul>
      <%= render @chat_rooms %>
    </ul>
  </div>
</div>