<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>About this app</h1>
    <br />
    <h4>
      <p>This is 
        <%= link_to 'my', 'https://github.com/LinchSmyth', target: '_blank', rel: 'nofollow' %>
        interview task application for
        <%= link_to 'AppliKey Solutions', 'http://applikeysolutions.com/', target: '_blank', rel: 'nofollow' %>
        company based in Kharkov, Ukraine.</p>
    </h4>
  </div>
</div>