<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>About this app</h1>
    <h4>
      <p>This is my interview task application for <%= link_to "AppliKey Solutions", "http://applikeysolutions.com/", target: "_blank", rel: "nofollow" %> company based in Kharkov, Ukraine.</p>
    </h4>
  </div>
</div>